services:

  chat-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: chat-service
    ports:
      - "8080:8080"
    environment:
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      OPENAI_PROJECT_ID: ${OPENAI_PROJECT_ID}
      OPENAI_ORG_ID: ${OPENAI_ORG_ID}
      FRONTEND_URL: ${FRONTEND_URL}
    restart: unless-stopped